body{
    margin: 0px;
    padding: 0px;
    clear: both;
    
}
.menu{
    /* margin-bottom: 50px; */
    clear: both;
    
}

ul{
    list-style-type: none;
    margin-right: 100px;
    
}
li>a{
    text-decoration: none;
    display: inline;
    float: right;
    margin: 10px 20px;
    font-size: 1.5em;
    color: #242424;
    font-weight: 550;
}
.intro-area,.about{
    height: 500px;
    clear: both;
    /* border: 2px solid red; */
}

div{
    width: 40%;
    float: left;
}

.text-highlights{
    color: #FF8367;
    text-transform: uppercase;
}
.gap{
    margin-bottom: 40px;
}
p{
    font-family: 'Roboto', sans-serif;
}

.button{
    margin-top: 50px;
    text-decoration: none;
    background-image: linear-gradient(45deg,salmon,tomato);
    color: white;
    padding: 15px 40px;
    border-radius: 5px;

}
.hello{
    margin-top: 0;
    margin-bottom: 0;
}
h1{
    font-size: 80px;
    color: #363958;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}
h2{
    font-size: 50px;
    font-weight: 450;
    color: #363958;
    /* margin-bottom: 0; */
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;

}
#h2{
    margin-bottom: 0px;
}
h3{
    color: #363958;
}
.pblock{
    display: block;
}

img{
    width: 70%;
    height: 80%;

}
.dev-intro,.about-text{
    margin-top: 100px;
    margin-left: 100px;
    padding: 10px;
}
.dev-img,.about-img{
    margin-left: 100px;
    margin-top: 100px;
}

.showcase-area{
    text-align: left;
    clear: both;
    height: 700px;
    background-color: #F8F9FC;
    border: 2px solid white;
}

.showcase-area>div,.clients-feedback>div{
    width: 25%;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin-left: 60px;
}
.sc{
    width: 100%;
}
#heading{
    margin-top: 100px;
    margin-bottom: 70px;
    text-align: center;
}

.chat-area{
    height: 300px;
    margin-top: 100px;
    
    
}
.chat{
    width:50%;
    height: auto;
    margin-left: 22%;
    margin-right: 22%;
    align-items: center;
    background-image: url(images/Group_33094_1.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    
}

.work-para{
    font-size: 55px;
    float: left;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-left: 50px;
}
.a{
    float: right;
    display: inline;
    margin-top: 12%;
}

.clients-face{
    border-radius: 50%;
    margin-top: 20px;
    width: 50%;
    height: 30%;
    text-align: center;
    border: 2px solid  rgba(0,0,0,0.2);

    
    
}
.clients{
    text-align: center;
    margin-top: 30px;

    
}
.clients-feedback{
    height: 700px;
    background-color: #F8F9FC;
    border: 1px solid white;
}
.clients-heading{
    margin-top: 100px;
    tab-size: 46px;
    text-align: center;
}
h4{
    font-size: large;
    font-family: Bebas Neue;
    color: #696871;
    text-align: center;
    letter-spacing: 2px;
}
.email{
    margin-top: 0;
    text-transform: lowercase;
    font-family: serif;
    font-size: 40px;
    margin-bottom: 0;
}

.icon-pic{
    width: 10%;
    height: 10;
    margin: 15px;
}
.icon-list{
    margin: auto;
    display: inline;
    align-content: center;
}
footer>div{
    margin-left: 39%;
    margin-right: 35%;
    margin-top: 0;
}